@import "../base/Extends";
@import "../componentes/Index";
@import "../componentes/IniciarSesion";
@import "../componentes/Productos";
@import "../componentes/Nosotros";
@import "../componentes/MediaQuerys";
@import "../base/Redes";
@import "../base/Logo";

*  {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 4px;

    &:hover {
        background: #4b4b4b;
    }
}












